<p>
  Import the <app-text-code>ReadOnlyFormFieldModule</app-text-code> in your app.module.ts and use it via
  <app-text-code>&lt;mad-readonly-form-field&gt;</app-text-code>. You can either make a readonly form field unchangeable or changeable
</p>

<example-viewer [example]="readOnlyFormFieldComponent"></example-viewer>

<p>The changeable version needs a wrapper around the form field, therefore, it is a different component.</p>
<example-viewer [example]="readOnlyFormFieldWrapperComponent"></example-viewer>
