Import the
<app-text-code>ButtonModule</app-text-code> in your app.module.ts and use one of:

<ul>
  <li>
    <strong>mad-primary-button</strong> for the main action on a page, eg. SAVE.
  </li>
  <li>
    <strong>mad-secondary-button</strong> for secondary actions like CANCEL, CLOSE.
  </li>
  <li>
    <strong>mad-default-button</strong> actions that are not primary and not secondary like ADD ITEM to a list within a
    page.
  </li>
  <li>
    <strong>mad-icon-button</strong> for icon-only buttons.
  </li>
</ul>

<example-viewer [example]="madButtonsComponent"></example-viewer>
