/* node_modules/roboto-fontface/css/roboto/roboto-fontface.css */
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Thin-66UVZHCZ.woff2") format("woff2"), url("./media/Roboto-Thin-YE6BK7FY.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("./media/Roboto-Thin-66UVZHCZ.woff2") format("woff2"), url("./media/Roboto-Thin-YE6BK7FY.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-ThinItalic-WDQIJK7W.woff2") format("woff2"), url("./media/Roboto-ThinItalic-CEIQFDPW.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("./media/Roboto-ThinItalic-WDQIJK7W.woff2") format("woff2"), url("./media/Roboto-ThinItalic-CEIQFDPW.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Light-BYA3NTIT.woff2") format("woff2"), url("./media/Roboto-Light-MA6KTJJX.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./media/Roboto-Light-BYA3NTIT.woff2") format("woff2"), url("./media/Roboto-Light-MA6KTJJX.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-LightItalic-EMXPJMQC.woff2") format("woff2"), url("./media/Roboto-LightItalic-DNPBIL3Y.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("./media/Roboto-LightItalic-EMXPJMQC.woff2") format("woff2"), url("./media/Roboto-LightItalic-DNPBIL3Y.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Regular-I5N2TZHC.woff2") format("woff2"), url("./media/Roboto-Regular-XTX373UI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./media/Roboto-Regular-I5N2TZHC.woff2") format("woff2"), url("./media/Roboto-Regular-XTX373UI.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-RegularItalic-4OU6XWVM.woff2") format("woff2"), url("./media/Roboto-RegularItalic-AZUPVZVP.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-RegularItalic";
  src: url("./media/Roboto-RegularItalic-4OU6XWVM.woff2") format("woff2"), url("./media/Roboto-RegularItalic-AZUPVZVP.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Medium-IV2TEAZM.woff2") format("woff2"), url("./media/Roboto-Medium-NYNOL4FT.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./media/Roboto-Medium-IV2TEAZM.woff2") format("woff2"), url("./media/Roboto-Medium-NYNOL4FT.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-MediumItalic-Q4XXAYDA.woff2") format("woff2"), url("./media/Roboto-MediumItalic-4BX3KM4A.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("./media/Roboto-MediumItalic-Q4XXAYDA.woff2") format("woff2"), url("./media/Roboto-MediumItalic-4BX3KM4A.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Bold-IRZJDKEM.woff2") format("woff2"), url("./media/Roboto-Bold-7REC4YJT.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./media/Roboto-Bold-IRZJDKEM.woff2") format("woff2"), url("./media/Roboto-Bold-7REC4YJT.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-BoldItalic-DMKRNDXW.woff2") format("woff2"), url("./media/Roboto-BoldItalic-4JV2GONQ.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("./media/Roboto-BoldItalic-DMKRNDXW.woff2") format("woff2"), url("./media/Roboto-BoldItalic-4JV2GONQ.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Black-F2VDSDKF.woff2") format("woff2"), url("./media/Roboto-Black-WJPWPLMF.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Black";
  src: url("./media/Roboto-Black-F2VDSDKF.woff2") format("woff2"), url("./media/Roboto-Black-WJPWPLMF.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-BlackItalic-PXAD5ZCE.woff2") format("woff2"), url("./media/Roboto-BlackItalic-ZDOGIJDH.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("./media/Roboto-BlackItalic-PXAD5ZCE.woff2") format("woff2"), url("./media/Roboto-BlackItalic-ZDOGIJDH.woff") format("woff");
}

/* node_modules/material-icons/iconfont/material-icons.css */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-LEZCGFVT.woff2") format("woff2"), url("./media/material-icons-JLIDJUWE.woff") format("woff");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-outlined-7BWLPMFK.woff2") format("woff2"), url("./media/material-icons-outlined-PCUTWIDZ.woff") format("woff");
}
.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-round-WEHMTW23.woff2") format("woff2"), url("./media/material-icons-round-SLOHZIXU.woff") format("woff");
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-sharp-HCCYMPXE.woff2") format("woff2"), url("./media/material-icons-sharp-U4OLFP3G.woff") format("woff");
}
.material-icons-sharp {
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-two-tone-M5N5K6F5.woff2") format("woff2"), url("./media/material-icons-two-tone-LCGWGE2N.woff") format("woff");
}
.material-icons-two-tone {
  font-family: "Material Icons Two Tone";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

/* node_modules/highlight.js/styles/github.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #ffffff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #005cc5;
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: bold;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: bold;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
}

/* src/styles.scss */
a {
  color: var(--main-primary);
}
.fx {
  display: flex;
  flex-direction: row;
}
.fx-row {
  flex-direction: row;
}
.fx-column {
  flex-direction: column;
}
.fx-stretch {
  align-items: stretch;
  width: 100%;
}
.fx-end {
  place-content: stretch end;
}
.fx-space-between {
  justify-content: space-between;
  width: 100%;
}
.fx-align-center {
  align-items: center;
}
.fx-align-start {
  align-items: flex-start;
}
.fx-gap-1em {
  gap: 1em;
}
.fx-fill {
  height: 100%;
  width: 100%;
  place-content: stretch flex-start;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
}
h1 {
  font-size: 40px !important;
  font-weight: 300 !important;
  line-height: 1.1em !important;
}
h2 {
  font-size: 30px !important;
  font-weight: 300 !important;
  line-height: 1.125em !important;
}
h3 {
  font-size: 20px !important;
  font-weight: 300 !important;
  line-height: 1.2em !important;
}

/* angular:styles/global:styles */
/*# sourceMappingURL=styles-NJBTUX5V.css.map */
