<p>
  The Addons extend the default Clarity cards by providing following additional types:
  <ul>
    <li>Editable card. The Editable card provides an additonal action to trigger an edit action. Also an additionalAction can be defined next to the edit action (eg. for help buttons)</li>
    <li>Expandable card. The card can be expanded or closed.</li>
  </ul>
  <p>
    Import the <app-text-code>CardModule</app-text-code> in your app.module.ts and use it via
    <app-text-code>&lt;mad-card&gt;</app-text-code>
  </p>
  <p>
</p>
<example-viewer [example]="cardEditableComponent"></example-viewer>

<example-viewer [example]="cardReadonlyComponent"></example-viewer>

<p>
  You can also enable collapse / expand
</p>
<example-viewer [example]="cardExpandableComponent"></example-viewer>
