@use 'styles';
@use '@porscheinformatik/material-addons/themes/common/theme';

.example {
  background: theme.get-selection-background();
  padding: 20px;
  margin: 10px;
  border-radius: 2px;
}

.source-code-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
