<div style="padding-bottom: 1.25em;">
  <mat-checkbox [checked]="required" (change)="required = !required">required</mat-checkbox>
</div>
<mad-filter-selector [readonly]="false"
                     [multiple]="false"
                     [required]="required"
                     [filterOptionsProvider]="filterOptionsProvider"
                     [showDataProvider]="showDataProvider"
                     [valueProvider]="valueProvider"
                     [label]="'Label'"
                     [noOptionsText]="'no options selectable'"
                     [(values)]="values"></mad-filter-selector>
