mat-toolbar {
  height: 100%;
}

.header-nav-list {
  display: flex;
  padding: 0;
  min-width: fit-content;

  a {
    min-width: inherit;
  }
}

.selected-nav {
  background-color: rgba(0, 0, 0, 0.15);
}
