<mat-toolbar color="primary" class="header-toolbar mat-elevation-z6">
  <button
    (click)="drawer.toggle()"
    *ngIf="(isHandset$ | async) && !hideNavigation"
    aria-label="Toggle sidenav"
    mat-icon-button
    type="button">
    <mat-icon aria-label="Side nav toggle icon" matBadge="New"
              matBadgePosition="before" matBadgeColor="accent">menu
    </mat-icon>
  </button>

  <a *ngIf="!(isHandset$ | async) && !hideNavigation"
     [matTooltip]="'moduleSwitcher' | translate"
     class="top-icon-link"
     routerLink="/home">
    <mat-icon class="top-icon" matBadge="New" matBadgePosition="before"
              matBadgeColor="accent">language
    </mat-icon>
  </a>
  <a *ngIf="hideNavigation" class="top-icon-link">
    <mat-icon class="top-icon" matBadge="New" matBadgePosition="before"
              matBadgeColor="accent">language
    </mat-icon>
  </a>
  <a *ngIf="!(isHandset$ | async) && !hideNavigation" routerLink="/home">
    <span class="suite-title">{{'appTitle' | translate}}</span>
  </a>

  <a *ngIf="hideNavigation">
    <span class="suite-title">{{'appTitle' | translate}}</span>
  </a>

  <span class="spacer"></span>

  <button class="mat-icon-button top-menu-icon" *ngIf="!(isHandset$ | async)&& !hideNavigation">
    <mat-icon class="large-icon top-icon" color="primary" [matTooltip]="'moduleSwitcher' | translate"
              routerLink="/home">
      apps
    </mat-icon>
  </button>

  <button class="mat-icon-button top-menu-icon top-icon" [matMenuTriggerFor]="accountMenu"
     [matTooltip]="'account' | translate">
    <mat-icon class="top-icon large-icon" color="primary">
      account_circle
    </mat-icon>
    <img src="{{'assets/at.png'}}"
         class="country-icon">
  </button>

  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="userInfoPressed()">
      <mat-icon>account_circle</mat-icon>
      {{'account' | translate}}
    </button>
    <button mat-menu-item (click)="logoutPressed()" *ngIf="!hideNavigation">
      <mat-icon>exit_to_app</mat-icon>
      {{'logout' | translate}}
    </button>
    <mat-divider></mat-divider>
    <button (click)="showShortcuts()" mat-menu-item>
      <mat-icon>keyboard</mat-icon>
      {{'keyboard' | translate}}
    </button>
  </mat-menu>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async) && !hideNavigation">

    <mat-nav-list class="top-icon-list">
      <a routerLink="/home" *ngIf="(isHandset$ | async)">
        <mat-list-item (click)="collapseAll()">
          <mat-icon matListIcon>home</mat-icon>
          <a matLine>{{'moduleSwitcher' | translate}}</a>
        </mat-list-item>
      </a>

      <mat-divider *ngIf="(isHandset$ | async)"></mat-divider>

      <div *ngIf="currentModule">
        <a [routerLink]="currentModule.homeRoute">
          <mat-list-item (click)="collapseAll()">
            <mat-icon matListIcon>{{currentModule.matIcon}}</mat-icon>
            <a matLine>{{currentModule.i18n | translate}}</a>
          </mat-list-item>
        </a>
      </div>
    </mat-nav-list>

    <mat-divider *ngIf="!(isHandset$ | async)"></mat-divider>

    <mat-nav-list dense>
      <ng-container *ngFor="let entry of navigationEntries">
        <nav-entry [entry]="entry"></nav-entry>
      </ng-container>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mad-toolbar class="app-toolbar"
      [attr.class]="((isHandset$ | async) || hideNavigation) ? 'app-toolbar' : 'app-toolbar app-toolbar-next-to-navbar'">
     </mad-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
