.mdc-button.mad-uppercase {
  text-transform: uppercase;
}

.mad-outline.mat-mdc-outlined-button:not(:disabled) {
  --mat-button-outlined-outline-color: var(--mat-button-outlined-label-text-color);
}

.mad-button-group {
  button,
  a {
    border-left-width: 0;
    border-radius: 0;

    &:first-child {
      border-left-width: var(--mat-button-outlined-outline-width, 1px);
      border-bottom-left-radius: var(--mat-button-outlined-container-shape, var(--mat-shape-small, 4px));
      border-top-left-radius: var(--mat-button-outlined-container-shape, var(--mat-shape-small, 4px));
    }

    &:last-child {
      border-bottom-right-radius: var(--mat-button-outlined-container-shape, var(--mat-shape-small, 4px));
      border-top-right-radius: var(--mat-button-outlined-container-shape, var(--mat-shape-small, 4px));
    }

    &:disabled:has(+ button:not(:disabled)) {
      border-right-width: 0;
    }

    &:disabled + button:not(:disabled) {
      border-left-width: var(--mat-button-outlined-outline-width, 1px);
    }
  }
}
