@use '@angular/material' as mat;
@use '@angular/material/theming' as theming;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

$contrast: (
  50: theming.$dark-primary-text,
  100: theming.$dark-primary-text,
  200: theming.$dark-primary-text,
  300: theming.$dark-primary-text,
  400: theming.$dark-primary-text,
  500: theming.$light-primary-text,
  600: theming.$light-primary-text,
  700: theming.$light-primary-text,
  800: theming.$light-primary-text,
  900: theming.$light-primary-text,
  A100: theming.$dark-primary-text,
  A200: theming.$dark-primary-text,
  A400: theming.$dark-primary-text,
  A700: theming.$dark-primary-text,
);

@function get-main-color($color-scheme) {
  @return map-get($color-scheme, 500);
}

@function get-selection-background($color-scheme) {
  @return map-get($color-scheme, 50);
}

@function get-table-hover-color($color) {
  @return rgba($color, 0.08);
}

@function get-background-color($color-scheme) {
  @return map-get($color-scheme, background-color);
}

@mixin build-custom-theme($primary-palette, $warn-palette: mat.$red-palette, $theme-name: 'undefined') {
  $material-addons-colors-primary: mat.define-palette($primary-palette);
  $material-addons-colors-warn: mat.define-palette($warn-palette);
  $material-addons-theme: mat.define-light-theme($material-addons-colors-primary, $material-addons-colors-primary, $material-addons-colors-warn);

  $hover-color: mat.define-palette($primary-palette, 50);

  @include mat.all-component-themes($material-addons-theme);

  @if variable-exists(table-hover-color) {
    .clickable-table-row:hover,
    .mat-row-link:hover {
      background-color: $table-hover-color;
    }
  } @else {
    @warn 'variable $table-hover-color in theme #{$theme-name} is not defined';
  }

  @if variable_exists(warn-color) {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-required-marker {
      color: $warn-color;
    }

    .mat-mdc-chip.mat-mdc-standard-chip.mat-warn {
      color: $warn-color;
      border: 1px solid $warn-color;
    }
  } @else {
    @warn 'variable $warn-color in theme #{$theme-name} is not defined';
  }

  @if variable_exists(main-primary) {
    /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
    .mat-chip-selected {
      border: 1px solid $main-primary !important;
      color: $main-primary !important;
    }
    .mat-mdc-outlined-button {
      border-color: $main-primary !important;
    }
    .selected-drag-list {
      border-color: $main-primary !important;
    }
    .active-column-definition {
      color: $main-primary !important;
    }
  } @else {
    @warn 'variable $main-primary  in theme #{$theme-name} is not defined';
  }
  /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
  .mat-chip-selected {
    background-color: white !important;
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-mdc-input-element:disabled {
  cursor: auto;
  color: black;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.mat-select-disabled .mat-select-value {
  color: black;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.mat-mdc-form-field .mat-mdc-select.mat-select-disabled .mat-select-arrow {
  color: white;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-disabled .mat-checkbox-label {
  color: black;
}

.clickable-table-row:hover,
.mat-row-link:hover {
  cursor: pointer;
}

.button-panel {
  padding-top: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
}

mad-primary-button {
  margin-right: 8px;
}

mad-outline-button {
  margin-right: 8px;
}

mad-link-button {
  margin-right: 8px;
}

.simple-edit-section {
  display: flex;
  flex-direction: column;
}

.simple-edit-section > * {
  width: 100%;
  max-width: 640px;
}

.tiny-table-section {
  display: flex;
  flex-direction: column;
}

.table-condensed > .mat-mdc-row {
  min-height: 36px;
}

.small-input {
  max-width: 90px !important;
}

.tiny-input {
  max-width: 60px !important;
}

.main-content {
  padding: 73px 16px 16px;
}

.mat-mdc-tab-header {
  margin: -16px -16px 16px;
}

.mat-mdc-row {
  position: relative;
}

.mat-row-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.mat-mdc-button,
.mat-mdc-unelevated-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-icon-button {
  text-transform: uppercase;
}

.toolbar-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.mat-select-disabled {
  color: rgba(0, 0, 0, 0.38);
}

.sticky-paginator {
  background-color: white;
  position: fixed;
  padding-right: 16px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  text-align: right;
}

.with-sticky-paginator {
  padding-bottom: 64px;
}

.criteria-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.criteria-panel > * {
  padding-right: 16px;
}

.mat-mdc-chip.mat-mdc-standard-chip {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.mat-mdc-chip.mat-mdc-standard-chip.mat-warn {
  background-color: white;
}

.mat-mdc-tab-group {
  max-width: 100%;
}

.large-icon {
  font-size: xx-large;
}

.transparent .mat-mdc-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
}

/*
* This class can be used to fix mat-tabs at the top of a page
*/
.fixedtabs > .mat-mdc-tab-header {
  z-index: 10;
  width: 100vw;
  position: fixed;
  background-color: white;
}

.mat-mdc-dialog-actions {
  justify-content: flex-end;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
.mat-card-header-text {
  margin: 0 !important;
}

@mixin ellipsis-text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis-text-overflow {
  @include ellipsis-text-overflow;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.*/
  mat-paginator {
    display: none !important;
    height: 0 !important;
  }

  mat-sidenav-content {
    margin: 0 !important;
  }

  .mat-mdc-raised-button,
  .mat-mdc-outlined-button,
  .button-panel {
    display: none !important;
  }

  mad-primary-button,
  mad-outline-button,
  mad-danger-button,
  mad-link-button,
  mad-icon-button {
    display: none !important;
  }

  .criteria-panel {
    display: none !important;
    height: 0 !important;
  }

  async-autocomplete mat-icon {
    display: none !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-label:not(.mat-tab-label-active) {
    display: none !important;
  }
}
