<p>
  The action normally appears in the lower right corner but for the purpose of this showcase some positioning elements were unset in this example.
</p>
<example-viewer [example]="actionButtonComponent"></example-viewer>
<mad-material-action-button [actionName]="'Back to getting started'"
                            [icon]="'home'"
                            [liftHigher]="false"
                            [routerLink]="'/intro'"
                            [id]="'home'">
</mad-material-action-button>
<p>
  However, you can see the correct positional appearance of the action button on this site too, because the action button was also added to the whole site
  to give you an example how it would look on a site.
</p>
