<div class="input-wrapper" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2em">
  <mat-checkbox [checked]="paginationEnabled" (change)="paginationEnabled = !paginationEnabled">
    Show Pagination
  </mat-checkbox>
  <mat-checkbox [checked]="filterEnabled" (change)="filterEnabled = !filterEnabled">
    Show Filter
  </mat-checkbox>
</div>

<mad-data-table
  [columns]="displayedColumns"
  [tableData]="tableData"
  noDataText="No Data Available"
  [paginationEnabled]="paginationEnabled"
  [filterEnabled]="filterEnabled"
  filterLabel="Filter"
  filterPlaceholder="Enter search term..."
  [pageSizeOptions]="[5, 10, 15]"
  [defaultPageSize]="10"
  (actionEvent)="handleActionEvent($event)"
  (sortEvent)="handleSortEvent($event)">
</mad-data-table>
