<h3>Material-Addons</h3>
<p>
  Project Material-Addons is an addon to <a href="https://material.angular.io/" target="_blank">Angular Material</a>
  which is based on the
  <a href="https://material.io/" target="_blank">Material Design system</a>.
</p>
<p>It contains additional components and patterns which are not in scope of Angular Material and also provides
  customized themes.</p>
<h3>How to Use Material-Addons</h3>

<ol>
  <li>
    <p>
      Material-Addons requires an already set-up Angular Material project. To do a fresh start please follow
      <a href="https://material.angular.io/guide/getting-started" target="_blank"> the official Angular Material
        guide</a> before you
      continue, but exclude step 4 ("include a theme").
    </p>
  </li>
  <li>
    <p>Install Material-Addons package using npm.</p>
    <p>
      <app-text-code>npm install @porscheinformatik/material-addons --save</app-text-code>
    </p>
  </li>
  <li>
    <p>Add the stylesheet at the top of your projects styles.scss</p>
    <p>
      <app-text-code>@import 'node_modules/@porscheinformatik/material-addons/themes/poa';</app-text-code>
    </p>
  </li>
  <li>
    <p>
      To use a component, you need to import the Module of the component in your app.module.ts or in any other module,
      which needs the
      component.
    </p>
  </li>
</ol>
<br><br>
<p>
  Internal Porsche Informatik Guidelines can be found here:
  <a href="https://confluence.porscheinformatik.com/confluence/display/PSACNG/Contribution+to+Clarity-Addons" target="_blank">
    Porsche Informatik Guidelines
  </a>
</p>
<p>
  &#169; {{currentYear()}} by <a href="https://www.porscheinformatik.at/">Porsche Informatik GmbH</a>
</p>
