@charset "UTF-8";

/* node_modules/roboto-fontface/css/roboto/roboto-fontface.css */
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Thin-66UVZHCZ.woff2") format("woff2"), url("./media/Roboto-Thin-YE6BK7FY.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("./media/Roboto-Thin-66UVZHCZ.woff2") format("woff2"), url("./media/Roboto-Thin-YE6BK7FY.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-ThinItalic-WDQIJK7W.woff2") format("woff2"), url("./media/Roboto-ThinItalic-CEIQFDPW.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("./media/Roboto-ThinItalic-WDQIJK7W.woff2") format("woff2"), url("./media/Roboto-ThinItalic-CEIQFDPW.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Light-BYA3NTIT.woff2") format("woff2"), url("./media/Roboto-Light-MA6KTJJX.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./media/Roboto-Light-BYA3NTIT.woff2") format("woff2"), url("./media/Roboto-Light-MA6KTJJX.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-LightItalic-EMXPJMQC.woff2") format("woff2"), url("./media/Roboto-LightItalic-DNPBIL3Y.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("./media/Roboto-LightItalic-EMXPJMQC.woff2") format("woff2"), url("./media/Roboto-LightItalic-DNPBIL3Y.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Regular-I5N2TZHC.woff2") format("woff2"), url("./media/Roboto-Regular-XTX373UI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./media/Roboto-Regular-I5N2TZHC.woff2") format("woff2"), url("./media/Roboto-Regular-XTX373UI.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-RegularItalic-4OU6XWVM.woff2") format("woff2"), url("./media/Roboto-RegularItalic-AZUPVZVP.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-RegularItalic";
  src: url("./media/Roboto-RegularItalic-4OU6XWVM.woff2") format("woff2"), url("./media/Roboto-RegularItalic-AZUPVZVP.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Medium-IV2TEAZM.woff2") format("woff2"), url("./media/Roboto-Medium-NYNOL4FT.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./media/Roboto-Medium-IV2TEAZM.woff2") format("woff2"), url("./media/Roboto-Medium-NYNOL4FT.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-MediumItalic-Q4XXAYDA.woff2") format("woff2"), url("./media/Roboto-MediumItalic-4BX3KM4A.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("./media/Roboto-MediumItalic-Q4XXAYDA.woff2") format("woff2"), url("./media/Roboto-MediumItalic-4BX3KM4A.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Bold-IRZJDKEM.woff2") format("woff2"), url("./media/Roboto-Bold-7REC4YJT.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./media/Roboto-Bold-IRZJDKEM.woff2") format("woff2"), url("./media/Roboto-Bold-7REC4YJT.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-BoldItalic-DMKRNDXW.woff2") format("woff2"), url("./media/Roboto-BoldItalic-4JV2GONQ.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("./media/Roboto-BoldItalic-DMKRNDXW.woff2") format("woff2"), url("./media/Roboto-BoldItalic-4JV2GONQ.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-Black-F2VDSDKF.woff2") format("woff2"), url("./media/Roboto-Black-WJPWPLMF.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Black";
  src: url("./media/Roboto-Black-F2VDSDKF.woff2") format("woff2"), url("./media/Roboto-Black-WJPWPLMF.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./media/Roboto-BlackItalic-PXAD5ZCE.woff2") format("woff2"), url("./media/Roboto-BlackItalic-ZDOGIJDH.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("./media/Roboto-BlackItalic-PXAD5ZCE.woff2") format("woff2"), url("./media/Roboto-BlackItalic-ZDOGIJDH.woff") format("woff");
}

/* node_modules/material-icons/iconfont/material-icons.css */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-LEZCGFVT.woff2") format("woff2"), url("./media/material-icons-JLIDJUWE.woff") format("woff");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-outlined-7BWLPMFK.woff2") format("woff2"), url("./media/material-icons-outlined-PCUTWIDZ.woff") format("woff");
}
.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-round-WEHMTW23.woff2") format("woff2"), url("./media/material-icons-round-SLOHZIXU.woff") format("woff");
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-sharp-HCCYMPXE.woff2") format("woff2"), url("./media/material-icons-sharp-U4OLFP3G.woff") format("woff");
}
.material-icons-sharp {
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./media/material-icons-two-tone-M5N5K6F5.woff2") format("woff2"), url("./media/material-icons-two-tone-LCGWGE2N.woff") format("woff");
}
.material-icons-two-tone {
  font-family: "Material Icons Two Tone";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

/* node_modules/highlight.js/styles/github.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #ffffff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #005cc5;
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: bold;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: bold;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
}

/* src/styles.scss */
/*! tailwindcss v4.2.2 | MIT License | https://tailwindcss.com */
@layer properties;
@layer theme, base, components, utilities;
@layer theme {
  :root,
  :host {
    --font-sans:
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
    --font-mono:
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace;
    --color-gray-50: oklch(98.5% 0.002 247.839);
    --color-gray-400: oklch(70.7% 0.022 261.325);
    --color-gray-950: oklch(13% 0.028 261.692);
    --spacing: 0.25rem;
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --font-weight-medium: 500;
    --default-transition-duration: 150ms;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
  }
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }
  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }
  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  samp,
  pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }
  :-moz-focusring {
    outline: auto;
  }
  progress {
    vertical-align: baseline;
  }
  summary {
    display: list-item;
  }
  ol,
  ul,
  menu {
    list-style: none;
  }
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  button,
  input,
  select,
  optgroup,
  textarea,
  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }
  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }
  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }
  ::file-selector-button {
    margin-inline-end: 4px;
  }
  ::placeholder {
    opacity: 1;
  }
  @supports (not (-webkit-appearance: -apple-pay-button)) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentcolor;
    }
    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }
  textarea {
    resize: vertical;
  }
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }
  ::-webkit-datetime-edit {
    display: inline-flex;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }
  ::-webkit-datetime-edit,
  ::-webkit-datetime-edit-year-field,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-minute-field,
  ::-webkit-datetime-edit-second-field,
  ::-webkit-datetime-edit-millisecond-field,
  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }
  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }
  :-moz-ui-invalid {
    box-shadow: none;
  }
  button,
  input:where([type=button], [type=reset], [type=submit]),
  ::file-selector-button {
    appearance: button;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  [hidden]:where(:not([hidden=until-found])) {
    display: none !important;
  }
}
@layer utilities {
  .collapse {
    visibility: collapse;
  }
  .visible {
    visibility: visible;
  }
  .absolute {
    position: absolute;
  }
  .fixed {
    position: fixed;
  }
  .relative {
    position: relative;
  }
  .static {
    position: static;
  }
  .sticky {
    position: sticky;
  }
  .start {
    inset-inline-start: var(--spacing);
  }
  .end {
    inset-inline-end: var(--spacing);
  }
  .col-span-3 {
    grid-column: span 3 / span 3;
  }
  .row-start-2 {
    grid-row-start: 2;
  }
  .container {
    width: 100%;
  }
  @media (width >= 40rem) {
    .container {
      max-width: 40rem;
    }
  }
  @media (width >= 48rem) {
    .container {
      max-width: 48rem;
    }
  }
  @media (width >= 64rem) {
    .container {
      max-width: 64rem;
    }
  }
  @media (width >= 80rem) {
    .container {
      max-width: 80rem;
    }
  }
  @media (width >= 96rem) {
    .container {
      max-width: 96rem;
    }
  }
  .mt-4 {
    margin-top: calc(var(--spacing) * 4);
  }
  .mt-5 {
    margin-top: calc(var(--spacing) * 5);
  }
  .-mr-4 {
    margin-right: calc(var(--spacing) * -4);
  }
  .ml-4 {
    margin-left: calc(var(--spacing) * 4);
  }
  .block {
    display: block;
  }
  .contents {
    display: contents;
  }
  .flex {
    display: flex;
  }
  .grid {
    display: grid;
  }
  .hidden {
    display: none;
  }
  .inline {
    display: inline;
  }
  .inline-block {
    display: inline-block;
  }
  .inline-flex {
    display: inline-flex;
  }
  .table {
    display: table;
  }
  .size-4 {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
  }
  .h-7 {
    height: calc(var(--spacing) * 7);
  }
  .h-fit {
    height: fit-content;
  }
  .max-h-6 {
    max-height: calc(var(--spacing) * 6);
  }
  .min-h-fit {
    min-height: fit-content;
  }
  .w-0 {
    width: calc(var(--spacing) * 0);
  }
  .w-1\/2 {
    width: calc(1 / 2 * 100%);
  }
  .w-7 {
    width: calc(var(--spacing) * 7);
  }
  .w-full {
    width: 100%;
  }
  .min-w-0 {
    min-width: calc(var(--spacing) * 0);
  }
  .min-w-fit {
    min-width: fit-content;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-\[0_0_100\%\] {
    flex: 0 0 100%;
  }
  .shrink {
    flex-shrink: 1;
  }
  .scale-120 {
    --tw-scale-x: 120%;
    --tw-scale-y: 120%;
    --tw-scale-z: 120%;
    scale: var(--tw-scale-x) var(--tw-scale-y);
  }
  .transform {
    transform: var(--tw-rotate-x,) var(--tw-rotate-y,) var(--tw-rotate-z,) var(--tw-skew-x,) var(--tw-skew-y,);
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .touch-pan-y {
    --tw-pan-y: pan-y;
    touch-action: var(--tw-pan-x,) var(--tw-pan-y,) var(--tw-pinch-zoom,);
  }
  .touch-pinch-zoom {
    --tw-pinch-zoom: pinch-zoom;
    touch-action: var(--tw-pan-x,) var(--tw-pan-y,) var(--tw-pinch-zoom,);
  }
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .place-content-center {
    place-content: center;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .gap-4 {
    gap: calc(var(--spacing) * 4);
  }
  .gap-x-4 {
    column-gap: calc(var(--spacing) * 4);
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .rounded {
    border-radius: 0.25rem;
  }
  .rounded-full {
    border-radius: calc(infinity * 1px);
  }
  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }
  .border-\[0\.1rem\] {
    border-style: var(--tw-border-style);
    border-width: 0.1rem;
  }
  .border-\(--carousel-dots-border-color\) {
    border-color: var(--carousel-dots-border-color);
  }
  .border-gray-400 {
    border-color: var(--color-gray-400);
  }
  .border-gray-950 {
    border-color: var(--color-gray-950);
  }
  .bg-\(--carousel-button-background-color\) {
    background-color: var(--carousel-button-background-color);
  }
  .bg-gray-50 {
    background-color: var(--color-gray-50);
  }
  .px-2 {
    padding-inline: calc(var(--spacing) * 2);
  }
  .py-1 {
    padding-block: calc(var(--spacing) * 1);
  }
  .text-justify {
    text-align: justify;
  }
  .text-right {
    text-align: right;
  }
  .text-xl {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }
  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }
  .lowercase {
    text-transform: lowercase;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .outline {
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
  }
  .blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
  }
  .\!filter {
    filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,) !important;
  }
  .filter {
    filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
  }
  .transition-transform {
    transition-property:
      transform,
      translate,
      scale,
      rotate;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }
  @media (hover: hover) {
    .hover\:border-\[0\.1rem\]:hover {
      border-style: var(--tw-border-style);
      border-width: 0.1rem;
    }
  }
  @media (hover: hover) {
    .hover\:border-\(--carousel-button-border-color\):hover {
      border-color: var(--carousel-button-border-color);
    }
  }
  .disabled\:cursor-not-allowed:disabled {
    cursor: not-allowed;
  }
  .disabled\:opacity-50:disabled {
    opacity: 50%;
  }
  @media (hover: hover) {
    .disabled\:hover\:border-0:disabled:hover {
      border-style: var(--tw-border-style);
      border-width: 0px;
    }
  }
}
a {
  color: var(--main-primary);
}
.fx {
  display: flex;
  flex-direction: row;
}
.fx-row {
  flex-direction: row;
}
.fx-column {
  flex-direction: column;
}
.fx-stretch {
  align-items: stretch;
  width: 100%;
}
.fx-end {
  place-content: stretch end;
}
.fx-space-between {
  justify-content: space-between;
  width: 100%;
}
.fx-align-center {
  align-items: center;
}
.fx-align-start {
  align-items: flex-start;
}
.fx-gap-1em {
  gap: 1em;
}
.fx-fill {
  height: 100%;
  width: 100%;
  place-content: stretch flex-start;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
}
h1 {
  font-size: 40px !important;
  font-weight: 300 !important;
  line-height: 1.1em !important;
}
h2 {
  font-size: 30px !important;
  font-weight: 300 !important;
  line-height: 1.125em !important;
}
h3 {
  font-size: 20px !important;
  font-weight: 300 !important;
  line-height: 1.2em !important;
}
@property --tw-scale-x { syntax: "*"; inherits: false; initial-value: 1; }
@property --tw-scale-y { syntax: "*"; inherits: false; initial-value: 1; }
@property --tw-scale-z { syntax: "*"; inherits: false; initial-value: 1; }
@property --tw-rotate-x { syntax: "*"; inherits: false; }
@property --tw-rotate-y { syntax: "*"; inherits: false; }
@property --tw-rotate-z { syntax: "*"; inherits: false; }
@property --tw-skew-x { syntax: "*"; inherits: false; }
@property --tw-skew-y { syntax: "*"; inherits: false; }
@property --tw-pan-x { syntax: "*"; inherits: false; }
@property --tw-pan-y { syntax: "*"; inherits: false; }
@property --tw-pinch-zoom { syntax: "*"; inherits: false; }
@property --tw-border-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-font-weight { syntax: "*"; inherits: false; }
@property --tw-outline-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-blur { syntax: "*"; inherits: false; }
@property --tw-brightness { syntax: "*"; inherits: false; }
@property --tw-contrast { syntax: "*"; inherits: false; }
@property --tw-grayscale { syntax: "*"; inherits: false; }
@property --tw-hue-rotate { syntax: "*"; inherits: false; }
@property --tw-invert { syntax: "*"; inherits: false; }
@property --tw-opacity { syntax: "*"; inherits: false; }
@property --tw-saturate { syntax: "*"; inherits: false; }
@property --tw-sepia { syntax: "*"; inherits: false; }
@property --tw-drop-shadow { syntax: "*"; inherits: false; }
@property --tw-drop-shadow-color { syntax: "*"; inherits: false; }
@property --tw-drop-shadow-alpha { syntax: "<percentage>"; inherits: false; initial-value: 100%; }
@property --tw-drop-shadow-size { syntax: "*"; inherits: false; }
@layer properties {
  @supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))) {
    *,
    ::before,
    ::after,
    ::backdrop {
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-pan-x: initial;
      --tw-pan-y: initial;
      --tw-pinch-zoom: initial;
      --tw-border-style: solid;
      --tw-font-weight: initial;
      --tw-outline-style: solid;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
    }
  }
}

/* angular:styles/global:styles */
/*# sourceMappingURL=styles-NHVEBF7L.css.map */
