@import 'styles';

.mat-list-item {
  color: #737373;
}

.active-link > mat-list-item {
  background: map-get($primary-palette, 50);
  color: map-get($primary-palette, 900);
}

.active-parent-link {
  background: map-get($primary-palette, background-color);
  color: map-get($primary-palette, 900);
}

.space-icon {
  width: 1px;
}
