
.mat-list-item {
  color: #737373;
}

.active-link > mat-list-item {
  background: #e8f3f3;
  color: #19888d;
}

.active-parent-link {
  background: #FAFAFA;
  color: #19888d;
}

.space-icon {
  width: 1px;
}
