<ng-container *ngIf="entry.route">
  <a [routerLink]="entry.route" routerLinkActive="active-link">
    <mat-list-item>
      <mat-icon [ngStyle]="{'margin-left': ((sublevel*8)+ 'px')}"
                matListIcon>{{entry.matIcon}}</mat-icon>
      <span matLine> {{entry.i18n | translate}}</span>
    </mat-list-item>
  </a>
</ng-container>

<!-- Entries without a route are disabled -->
<ng-container *ngIf="!entry.route">
  <mat-list-item [disableRipple]="true">
    <mat-icon [ngStyle]="{'margin-left': ((sublevel*8)+ 'px')}"
              matListIcon>{{entry.matIcon}}</mat-icon>
    <span matLine> {{entry.i18n | translate}}</span>
  </mat-list-item>
</ng-container>
