<p>
  Import the
  <app-text-code>FilterSelectorModule</app-text-code>
  in your app.module.ts and use it via
  <app-text-code>&lt;mad-filter-selector&gt;</app-text-code>
  Using this component requires a filter and display provider.
</p>
<p>
  Filtering data shows all matching options and all selected options, if no option is matching it is possible to add a
  no options text.
</p>
<p>
  It is possible to choose single and multiple selection, in single selection a no option is selectable. When field is
  required, no option is not possible.
</p>

<example-viewer [example]="filterSelectorComponent"></example-viewer>
<example-viewer [example]="filterSelectorMultipleComponent"></example-viewer>

