@use 'styles';
@use '@porscheinformatik/material-addons/themes/common/theme';

.example {
  padding: 20px;
  margin: 10px;
  border-radius: 2px;
}

.source-code-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

code {
  color: var(--main-primary);
}

th,
td {
  border: 0.1rem solid gray;
  padding: 4px 8px;
}

th:first-child {
}
