<h1>Sidbar Pagelayout</h1>
<h3>Following example shows a sidebar page layout with a collapsable sidebar container that can hold different navigation entries.</h3>
<div>
  <h3>Design Guidelines</h3>
  <p>All pages in an application should follow a common layout structure to ensure a consistent user experience across applications.</p>
  <p>The Base SidebarLayout includes the following components:</p>
  <ul>
    <li>Same components as the base page layout</li>
    <li>plus a collapsable navigation panel on the right hand side</li>
    <li>
      the default text color used for the links is #900 from the primary-palette of the theme. As an alternative you can define your own
      '--palette-color' variable
    </li>
  </ul>
</div>

<h3>Demo</h3>
<mad-primary-button routerLink="/full-page-layouts/sidebar-page-layout">Open Sidebar Pagelayout Demo</mad-primary-button><br />
<app-text-code>{{ sidebarPageLayout }}</app-text-code>
<br />
