<h1>Base Pagelayout</h1>
<h3>
  Following example shows a base page layout without multiple pages. If you have different pages (different header, ...) with routing see
  next example.
</h3>
<div>
  <h3>Design Guidelines</h3>
  <p>All pages in an application should follow a common layout structure to ensure a consistent user experience across applications.</p>
  <p>The Base Pagelayout includes the following components:</p>
  <ul>
    <li>Main Navigation</li>
    <li>Pagetitle</li>
    <li>Content Area</li>
  </ul>
  <p>Further components may complete the pagelayout as needed:</p>
  <ul>
    <li>Back Button</li>
    <li>Command bar</li>
    <li>Content-Panel</li>
  </ul>
  <h4>Command Bar</h4>
  <ul>
    <li>The Command Bar comprises the most common users tasks.</li>
    <li>The most important ones are shown, additional ones are accessible in an overflow-menu.</li>
    <li>
      Other commands, either less common ones or where the proximity to an ui element is crucial, are provided within the content area.
    </li>
  </ul>
</div>

<h3>Demo</h3>
<mad-primary-button routerLink="/full-page-layouts/base-page-layout">Open Base Pagelayout Demo</mad-primary-button><br />
<app-text-code>{{ basePageLayout }}</app-text-code>
<br />
<h1>Flow Bar Layout</h1>
<h3>The Flow Bar Layout extends the Base Page Layout by adding a wizard-like navigation control.</h3>
<p>
  This layout that can be used to highlight the current progress a user is making throughout multiple steps. The Flow Bar allows the user to
  navigate between steps, by either clicking on a specific step or using the previous or next button.
</p>
<div>
  <h2>Usage</h2>
  <p>
    Use this layout if you want to guide the user through a sequence of multiple steps. Each step requires the user to perform a complex
    task like filling out a form. Don't use this layout if the user's steps are mutually exclusive; in this case use Tabs instead.
  </p>
  <p>
    When implementing a flow bar on your page, you will need to insert a <code>mad-flowbar</code> right below your content-header but above
    your content-container.
  </p>
  <p>Following inputs &amp; outputs are available:</p>
  <ul>
    <li>
      <code>[steps]</code> - an array of <code>FlowBarStep</code>. You can extend/implement this interface to save even more information in
      your steps.
    </li>
    <li><code>[(activeStep)]</code> two way binding of the active step.</li>
  </ul>
  <p>
    You can use the <code>&#64;ViewChild()</code> annotation to get a reference of your <code>FlowBarComponent</code>, which will allow you
    to call its methods:
  </p>
  <ul>
    <li><code>previous()</code> - open the previous step.</li>
    <li><code>next()</code> - opens the next step.</li>
    <li><code>isPreviousAvailable()</code> - returns true if the previous step can be opened.</li>
    <li><code>isNextAvailable()</code> - returns true if the next step can be opened.</li>
    <li><code>isLastStep()</code> - returns true if the current step is the last.</li>
  </ul>
</div>
<br />
<h3>Demo</h3>
<mad-primary-button routerLink="/full-page-layouts/flowbar-page-layout">Open Base Pagelayout Demo with a Flow Bar</mad-primary-button><br />
<app-text-code>{{ flowBarLayout }}</app-text-code>
