<mad-stepper [nextButtonLabel]="'Next'" [doneButtonLabel]="'Done'">
  <mad-step [stepControl]="this.personForm" [label]="'Person'">
    <form [formGroup]="this.personForm">
      <div fxLayout="row" fxLayoutGap="1em">
        <mat-form-field>
          <mat-label>Firstname</mat-label>
          <input matInput placeholder="Firstname" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Lastname</mat-label>
          <input matInput placeholder="Lastname" formControlName="lastName">
        </mat-form-field>
      </div>
    </form>
  </mad-step>
  <mad-step [stepControl]="this.contactInformationForm" [label]="'Contact Information'">
    <form [formGroup]="this.contactInformationForm">
      <div fxLayout="row" fxLayoutGap="1em">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Firstname" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Lastname" formControlName="phone">
        </mat-form-field>
      </div>
    </form>
  </mad-step>
</mad-stepper>
