.landing-page-list-icon-spacer {
  flex-grow: 1;
}

.landing-page-list-card-title {
  margin: 0 0 0 -16px;
  padding-top: 10px;
}

mat-card-content {
  padding-top: 10px;
}

.landing-page-list-card-header {
  align-items: center;
}

.landing-page-list-card-summary {
  min-height: 2.4em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.54);
}

.landing-page-list-item-icon {
  margin: 0 0 0 10px;
  width: 40px;
  font-size: 2.5rem;
  height: 40px;
  align-self: flex-end;
  color: #737373;
  flex-grow: 0;
}

.landing-page-external-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: rgba(0, 0, 0, 0.54);
}
