@use '~@angular/material' as mat;
@import 'styles';

.mat-list-item {
  color: #737373;
}

.active-link {
  background: mat.get-color-from-palette($primary-palette, 50);
  color: mat.get-color-from-palette($primary-palette, 900);
}

.active-parent-link {
  background: #fafafa;
  color: mat.get-color-from-palette($primary-palette, 900);
}

.space-icon {
  width: 1px;
}
