@use 'styles';
@use '@porscheinformatik/material-addons/themes/common/theme';

a {
  display: flex;
  color: theme.get-panel-color();
  cursor: pointer;

  .arrow-icons {
    vertical-align: middle;
  }

  div.content-display-flex {
    display: flex;

    div.display-inherit-gap {
      display: inherit;
      gap: 5px;
    }
  }

  span.align-icons {
    display: inherit;
    margin-left: auto;
  }
}
