@use '@angular/material' as mat;
@import 'styles';

.mat-mdc-list-item {
  color: #737373;
}

.active-link {
  //background: mat.get-color-from-palette($primary-palette, 50); TODO fix after v15 migration? https://material.angular.io/guide/theming-your-components
  //color: mat.get-color-from-palette($primary-palette, 900); TODO fix after v15 migration? https://material.angular.io/guide/theming-your-components
}

.active-parent-link {
  background: #fafafa;
  //color: mat.get-color-from-palette($primary-palette, 900); TODO fix after v15 migration? https://material.angular.io/guide/theming-your-components
}

.space-icon {
  width: 1px;
}

.arrow-icons {
  vertical-align: middle;
}
