/* You can add global styles to this file, and also import other style files */
@use './styles/layout-utils' as layout;
@use 'tailwindcss';

a {
  color: var(--main-primary);
}

// Angular FlexLayout replacement utilities
@include layout.emit-utility-classes();
h1 {
  font-size: 40px !important;
  font-weight: 300 !important;
  line-height: 1.1em !important;
}

h2 {
  font-size: 30px !important;
  font-weight: 300 !important;
  line-height: 1.125em !important;
}

h3 {
  font-size: 20px !important;
  font-weight: 300 !important;
  line-height: 1.2em !important;
}
