/* You can add global styles to this file, and also import other style files */
@use '@porscheinformatik/material-addons/themes/carcat';

a {
  color: var(--main-primary);
}

// angular flexlayout replacement --> TODO in die Library schieben
.fx {
  display: flex;
}

.fx-row {
  flex-direction: row;
}

.fx-stretch {
  align-items: stretch;
  width: 100%;
}

.fx-end {
  place-content: stretch end;
}

.fx-column {
  flex-direction: column;
}

.fx-space-between {
  justify-content: space-between;
  width: 100%;
}

.fx-align-center {
  align-items: center;
}

.fx-align-start {
  align-items: start;
}

.fx-gap-1em {
  gap: 1em;
}

.fx-fill {
  height: 100%;
  width: 100%;
  place-content: stretch flex-start;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
}

.api-specification {
  font-family: Arial, sans-serif;
}

.api-specification h2 {
  color: #333;
}

.api-specification table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.api-specification th,
.api-specification td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.api-specification th {
  background-color: #f2f2f2;
}

