@use 'sass:map';
@use '@angular/material' as mat;
@use './common/theme' as theme;
@use './common/styles' as common;
@use './common/button';
@use './carcat_theme-colors.scss' as carcat-colors;

$theme-name: 'poba';

$palette-overrides: (
  contrast: common.$contrast,
  background-color: #fcfcfc,
  warn-color: #ad7600,
  error-color: #c21d00,
  info-color: #005073,
  success-color: #3c8500,
);

$primary-palette: map.merge(carcat-colors.$primary-palette, $palette-overrides);
$warn-palette: map.get(carcat-colors.$primary-palette, error);

@include mat.elevation-classes();
@include mat.app-background();

$custom-theme: theme.build-custom-theme($theme-name, $primary-palette, common.$default-palette, $warn-palette);
$system-color-overrides: theme.build-system-color-overrides($primary-palette, common.$default-palette);

@include mat.system-level-colors($custom-theme, $system-color-overrides);
@include mat.system-level-typography($custom-theme);
@include mat.system-level-elevation($custom-theme);
@include mat.system-level-shape($custom-theme);
@include mat.system-level-state($custom-theme);
@include mat.typography-hierarchy($custom-theme);
@include mat.all-component-themes($custom-theme);
@include mat.all-component-typographies($custom-theme);
@include common.theme($theme-name, $custom-theme);

mad-alert {
  .alert.small {
    @include mat.icon-button-density(-3);
    border-width: 2px;
    border-radius: 0.5rem;
    font-size: 1rem !important;
  }
}
