@import './common/styles';

$theme-name: 'poa';

$primary-palette: (
  50: #464646,
  100: #333333,
  200: #c5f5f8,
  300: #a8f0f4,
  400: #8cebf1,
  500: #14a1a9,
  600: #32d3da,
  700: #23c0c7,
  800: #1ea4aa,
  900: #19888d,
  A100: #ccfdff,
  A200: #adfcff,
  A400: #86faff,
  A700: #16f7ff,
  contrast: $contrast,
  background-color: #464646,
  no-background-color: #242424,
  warn-color: red,
);

$main-primary: get-main-color($primary-palette);
$selection-background: get-selection-background($primary-palette);
$sub-selection-background: get-sub-selection-background($primary-palette);
$table-hover-color: get-table-hover-color($main-primary);
$background-color: get-background-color($primary-palette);
$no-background-color: get-no-background-color($primary-palette);
$warn-color: map-get($primary-palette, warn-color);

$is-dark-theme: true;

:root {
  --main-primary: #{$main-primary};
  --selection-background: #{$selection-background};
  --table-hover-color: #{$table-hover-color};
  --warn-color: #{$warn-color};
  --background-color: #{$no-background-color};
}

//.header-toolbar {
//  background: #{$background-color} !important;
//}
//
//.mat-list-item {
//  color: white !important;
//}
//
//.active-parent-link {
//  background: #{$sub-selection-background} !important;
//  color: white !important;
//}
//
//.active-link {
//  background: #{$selection-background} !important;
//  color: white !important;
//}
//
//.active-link > mat-list-item {
//  background: #{$selection-background} !important;
//  color: #{$main-primary} !important;
//}
//
//mat-toolbar {
//  background: #{$no-background-color} !important;
//}
//
//.suite-title {
//  color: white !important;
//}
//
//.menu-icon {
//  color: white !important;
//}

@include build-custom-theme($primary-palette);
