@use 'sass:map';
@use '@angular/material' as mat;
@use './common/theme' as theme;
@use './common/styles' as common;
@use './common/button';
@use './poa_theme-colors.scss' as poa-colors;

$theme-name: 'poa';

$palette-overrides: (
  contrast: common.$contrast,
  background-color: #fafafa,
  warn-color: #ad7600,
  error-color: #c21d00,
  info-color: #00648f,
  success-color: #3c8500,
);

$primary-palette: map.merge(poa-colors.$primary-palette, $palette-overrides);
$warn-palette: map.get(poa-colors.$primary-palette, error);

@include mat.elevation-classes();
@include mat.app-background();

$custom-theme: theme.build-custom-theme($theme-name, $primary-palette, common.$default-palette, $warn-palette);
$system-color-overrides: theme.build-system-color-overrides($primary-palette, common.$default-palette);

@include mat.system-level-colors($custom-theme, $system-color-overrides);
@include mat.system-level-typography($custom-theme);
@include mat.system-level-elevation($custom-theme);
@include mat.system-level-shape($custom-theme);
@include mat.system-level-state($custom-theme);
@include mat.typography-hierarchy($custom-theme);
@include mat.all-component-themes($custom-theme);
@include mat.all-component-typographies($custom-theme);
@include common.theme($theme-name, $custom-theme);
