@import './common/styles';

$theme-name: 'poa';

$primary-palette: (
  50: #e8f3f3,
  100: #e2fafb,
  200: #c5f5f8,
  300: #a8f0f4,
  400: #8cebf1,
  500: #14a1a9,
  600: #32d3da,
  700: #23c0c7,
  800: #1ea4aa,
  900: #19888d,
  A100: #ccfdff,
  A200: #adfcff,
  A400: #86faff,
  A700: #16f7ff,
  contrast: $contrast,
  background-color: #fafafa,
  warn-color: #ad7600,
  error-color: #c21d00,
  info-color: #00648f,
  success-color: #3c8500,
);

$warn-palette: (
  50: #f8e4e0,
  100: #edbbb3,
  200: #e18e80,
  300: #d4614d,
  400: #cb3f26,
  500: #c21d00,
  600: #bc1a00,
  700: #b41500,
  800: #ac1100,
  900: #9f0a00,
  A100: #ffcbc9,
  A200: #ff9996,
  A400: #ff6763,
  A700: #ff4e4a,
  contrast: $contrast,
);

$main-primary: get-main-color($primary-palette);
$selection-background: get-selection-background($primary-palette);
$table-hover-color: get-table-hover-color($main-primary);
$background-color: get-background-color($primary-palette);

$warn-color: get-main-color($warn-palette);
$error-color: map-get($primary-palette, error-color);
$info-color: map-get($primary-palette, info-color);
$success-color: map-get($primary-palette, success-color);

:root {
  --main-primary: #{$main-primary};
  --selection-background: #{$selection-background};
  --table-hover-color: #{$table-hover-color};
  --warn-color: #{$warn-color};
  --background-color: #{$background-color};
}

@include build-custom-theme($primary-palette, $warn-palette, $theme-name);
