@use 'styles';
@use '@porscheinformatik/material-addons/themes/common/theme';

.main-container {
  display: block;
  height: 100vh;

  .sidebar-scrollable {
    overflow-y: auto;
    // hide scrollbar
    scrollbar-width: none; // For Firefox
    -ms-overflow-style: none; // For Internet Explorer and Edge

    &::-webkit-scrollbar {
      display: none; // For Chrome and Safari
    }
  }
}

.version {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-icon-list {
  padding-top: 0;
}

.mat-mdc-icon-button {
  border-width: 0;
}
