<div class="card-wrapper">

  <mat-checkbox (change)="showHelpIcon = !showHelpIcon" [checked]="showHelpIcon">
    Show additional icon
  </mat-checkbox>
  <br>
  <br>

  <mad-card
      (additionalAction)="onAdditionalAction()"
      (cancel)="onCancel()"
      (edit)="onEditMode()"
      (save)="onSave()"
      [additionalActionIcon]="showHelpIcon ? 'help' : undefined"
      [cancelDisabled]="isLoading"
      [editMode]="isInEditMode"
      [expandable]="false"
      [readonly]="false"
      [saveDisabled]="isLoading"
      additionalActionText="Help"
      cancelText="cancel"
      editText="edit"
      saveText="save"
      title="Editable Card"
  >
    <div class="spinner-wrapper">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center start" fxFill>
      <mad-readonly-form-field-wrapper [readonly]="!isInEditMode" [value]="firstName" style="text-overflow: ellipsis">
        <mat-label>First Name</mat-label>
        <mat-form-field class="form-group">
          <input [(ngModel)]="firstName" autocomplete="off" class="form-control" id="firstName1" matInput
                 name="firstName"/>
        </mat-form-field>
      </mad-readonly-form-field-wrapper>

      <mad-readonly-form-field-wrapper [readonly]="!isInEditMode" [value]="lastName">
        <mat-form-field class="form-group">
          <mat-label>{{asyncName | async}}</mat-label>
          <input [(ngModel)]="lastName" autocomplete="off" class="form-control" id="lastName1" matInput
                 name="lastName"/>
        </mat-form-field>
      </mad-readonly-form-field-wrapper>

      <mad-readonly-form-field-wrapper [readonly]="!isInEditMode" [value]="address">
        <mat-label>Address</mat-label>
        <mat-form-field class="form-group">
          <input [(ngModel)]="address" autocomplete="off" class="form-control" id="address1" matInput
                 name="address"/>
        </mat-form-field>
      </mad-readonly-form-field-wrapper>

      <!-- Ellipsis for text-overflow turned off-->
      <mad-readonly-form-field-wrapper [readonly]="!isInEditMode" [value]="deliveryAddress" style="text-overflow: clip">
        <mat-label>Delivery Address</mat-label>
        <mat-form-field class="form-group">
          <input [(ngModel)]="deliveryAddress" autocomplete="off" class="form-control" id="deliveryAddress1" matInput
                 name="deliveryAddress"/>
        </mat-form-field>
      </mad-readonly-form-field-wrapper>

    </div>
  </mad-card>
</div>
