<div class="card-wrapper">
  <mad-card
    title="Editable Card"
    [readonly]="false"
    [editMode]="isInEditMode"
    [expandable]="false"
    cancelText="cancel"
    [cancelDisabled]="isLoading"
    editText="edit"
    [saveDisabled]="isLoading"
    saveText="save"
    (edit)="onEditMode()"
    (cancel)="onCancel()"
    (save)="onSave()"
  >
    <div class="spinner-wrapper">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center start" fxFill>
      <mad-readonly-form-field-wrapper [readonly]="!isInEditMode" [value]="firstName" style="text-overflow: ellipsis">
        <mat-label>First Name</mat-label>
        <mat-form-field class="form-group">
          <input [(ngModel)]="firstName" autocomplete="off" class="form-control" id="firstName1" matInput
                 name="firstName"/>
        </mat-form-field>
      </mad-readonly-form-field-wrapper>

      <mad-readonly-form-field-wrapper [readonly]="!isInEditMode" [value]="lastName">
        <mat-form-field class="form-group">
          <mat-label>{{asyncName | async}}</mat-label>
          <input [(ngModel)]="lastName" autocomplete="off" class="form-control" id="lastName1" matInput name="lastName"/>
        </mat-form-field>
      </mad-readonly-form-field-wrapper>

      <mad-readonly-form-field-wrapper [readonly]="!isInEditMode" [value]="address"
                                       style="text-overflow: ellipsis">
        <mat-label>Address</mat-label>
        <mat-form-field class="form-group">
          <input [(ngModel)]="address" autocomplete="off" class="form-control" id="age1" matInput
                 name="address"/>
        </mat-form-field>
      </mad-readonly-form-field-wrapper>

    </div>
  </mad-card>
</div>
