@use 'styles';
@use '@porscheinformatik/material-addons/themes/common/theme';

code {
  color: theme.get-main-color();
}

pre {
  margin: 0;
}

pre.object-destruction {
  margin-top: -15px;
}

pre.object-destruction:first-child {
  margin-top: 0;
}

.object-comments {
  color: gray;
  white-space: normal;
}

.code-container {
  margin-top: 15px;
}
