name: Verify

# The verifier builds material-addons and then builds the Demo

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - run: npm install
      - run: npm run build:mat-add
      - run: npm install --no-optional
      - run: npm install
      - run: npm run test
      - run: npm run build:demo
