name: Verify

# The verifier builds material-addons and then builds the Demo

on:
  push:
    branches: [master]
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 20
        uses: actions/setup-node@v5
        with:
          node-version: '20'
      - run: npm install
      - run: npm run build:mat-add
      - run: npm run prettier
      - run: npm run eslint
      - run: npm run test
      - run: npm run build:demo
